html {
    background-color: #fff6e8;
}
.app-title {
    font-family: 'Protest Guerrilla', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.provider-btn {
    height: 55px;

    width: 400px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
    background-color: #FFFEFC;
    font-family: 'Spectral', serif;
    font-size: large;
    border: none;
}
.provider-btn:hover {
    transform: scale(1.5);


    transition: all 0.2s ease;
}
.primary-btn:hover {
    border-bottom: 3px solid black;
    transform: scale(1);
}
input:hover {
    transform: scale(1.5);
    transition: all 0.2s ease;

}
.provider-btn:active {
    opacity: 0.5;
}
input:active {
    opacity: 0.5;
}
.provider-buttons {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
::placeholder {
    font-family: 'Spectral', serif;
}
img {
    height: 3rem;
    width:3rem;
}
input {


    font-family: inherit;
    padding: 0.8rem;
    border-radius: 5px;

    box-sizing: border-box;
    font-size: 1.1em;
    text-align: center;
    border: 3px solid black;
    height: 17%;
width: 400px;
    font-family: 'Spectral', serif;
}
::placeholder {
    font-family: 'Spectral', serif;
}
.auth-fields-and-buttons {
    display: flex;
    position: relative;
    left: 425px;
    flex-flow: column;
    width: 400px;
    height: 75%;



}
button {
    border: 3px solid black;
    border-radius: 5px;
    height: 17%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-btn {
    background-color:  #ffde00;
    border-bottom: 6px solid black;


}
.secondary-btn {
    background-color: #fff6e8;
}
p {

}